@font-face {
  font-family: 'theboldfont';
  src: local('theboldfont'), url(../../fonts/theboldfont.ttf) format('truetype');
}


.wrapper {

  display: flex;
  /* padding-top: 80px; */
  height: 95vh;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;

}

.container {
  height: 100vh;
}

.wrapper a {
  font-family: 'theboldfont';
  color: #655560;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);

  /* letter-spacing: -25px; */
  display: inherit;
  
}


.sounge {
  font-size: 7rem;
  writing-mode: vertical-rl;
  order: 4;


}

.sundaz {
  font-size: 7rem;
  writing-mode: vertical-rl;
  
  order: 1;


  
}

.theDuet {
  font-size: 7rem;
  writing-mode: vertical-rl;
  white-space: nowrap;
  /* word-spacing: -.4ch; */
  order: 2;

}


.Bazar {
  font-size: 7rem;    
  writing-mode: vertical-rl;
  order: 5;  
}

.Solidbody {
  font-size: 7rem;    
  writing-mode: vertical-rl;
  order: 3; 
}


.Solidbody a:hover {
  color: #27F23F;
}

.Bazar a:hover {
  color: #9808f8;
}

.theDuet a:hover {
  color: #ff097c;}

.sundaz a:hover {
  color: #fff706;  
}

.sounge a:hover {
  color: #0b7af8;
}



 /* CELLPHONE */

@media (max-width: 767px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

  }


  .wrapper a {
    transform: rotate(-90deg);

  }

  .sounge a {
    font-size: 2rem;
    color: #0b7af8;
  }

  .sundaz a {
    font-size: 2rem;
    color: #fff706;  

  }
  
  .theDuet a {
    font-size: 2rem;
    color: #ff097c;

  }

  .Bazar a{
    font-size: 2rem;
    color: #9808f8;


  }

  .Solidbody a{
    font-size: 2rem;
    color: #27F23F;

  }
}



/* IPAD PRO*/


@media (min-width: 767px ) and (max-width: 1024px) {

  .wrapper {
    height: 95vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */

  }


  .wrapper a {
    transform: rotate(-90deg);
  }

  .sounge a {
    font-size: 4rem;
    color: #0b7af8;
  }

  .sundaz a {
    font-size: 4rem;
    color: #fff706;  

  }
  
  .theDuet a {
    font-size: 4rem;
    color: #ff097c;

  }

  .Bazar a{
    font-size: 4rem;
    color: #9808f8;


  }

  .Solidbody a{
    font-size: 4rem;
    color: #27F23F;

  }
}


/* REGULAR IPAD */


@media (min-width: 600px ) and (max-width: 800px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

  }


  .wrapper a {
    transform: rotate(-90deg);

  }

    .sounge a {
    font-size: 3rem;
    color: #0b7af8;
  }

  .sundaz a {
    font-size: 3rem;
    color: #fff706;  

  }
  
  .theDuet a {
    font-size: 3rem;
    color: #ff097c;

  }

  .Bazar a{
    font-size: 3rem;
    color: #9808f8;

  }

  .Solidbody a{
    font-size: 3rem;
    color: #27F23F;

  }
  
}