.test {

  display: flex;
  padding-top: 80px;
  height: 100vh;
  align-items: center;
  justify-content: space-around;

}

.sounge {
  transform: rotate(-90deg);
  font-size: 10vh;
  

}

.sundaz {
  transform: rotate(-90deg);  transform: rotate(-90deg);
  font-size: 10vh;
  
}

.theDuet {
  transform: rotate(-90deg);
  font-size: 10vh;    
}
