@font-face {
  font-family: 'theboldfont';
  src: local('theboldfont'), url(../../fonts/theboldfont.ttf) format('truetype');
}


.wrapper {

  display: flex;
  padding-top: 80px;
  height: 100vh;
  align-items: center;
  justify-content: space-around;

}

.wrapper a {
  font-family: 'theboldfont';
  color: #655560;
}

.sounge {
  transform: rotate(-90deg);
  font-size: 7rem;  

}

.sundaz {
  transform: rotate(-90deg);
  font-size: 7rem;
  
}

.theDuet {
  transform: rotate(-90deg);
  font-size: 7rem;
  white-space: nowrap;
}


.Bazar {
  transform: rotate(-90deg);
  font-size: 7rem;    
}

.Bazar a:hover {
  color: #9808f8;
}

.theDuet a:hover {
  color: #f8ee59;
}

.sundaz a:hover {
  color: #ff097c;
}

.sounge a:hover {
  color: #0b7af8;
}


@media (max-width: 1024px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  .sounge {
    font-size: 2rem;
    transform: rotate(0deg);

  }

  .sundaz {
    font-size: 2rem;
    transform: rotate(0deg);

  }
  
  .theDuet {
    font-size: 2rem;
    transform: rotate(0deg);

  }

  .Bazar {
    font-size: 2rem;
    transform: rotate(0deg);

  }
}
