@font-face {
  font-family: 'theboldfont';
  src: local('theboldfont'), url(fonts/theboldfont.ttf) format('truetype');
}



body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #76df30a4 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;   
}


h1 {
  overflow-y: hidden;
}

/* SOUND GALLERY */

.sound-gallery {
  padding-top: 100px;
  height: 100vh;
}


.centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

/* Youtube section */

.wrapper-youtube {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper-youtube h2 {
  flex: 0 1 100%;
  padding-bottom: 80px;
  padding-top: 40px;
  text-align: center;
  font-size: 7rem;
  font-family: 'theboldfont';
  
}


#bazar {
  color: #9808f8;
}

#sounge {
  color: #0b7af8;

}

#theDuet {
  color: #ff097c;
}

#sundaz {
  color: #fff706;
}

#Solidbody{
  color: #27F23F;
}



/* BANDCAMP SUNDAZ */

.bandcamp {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}

.bandcamp iframe{

  margin-bottom: 3rem;
}

.icon{
  display: inline ;
  margin-top: 100px;
  margin-left: 20px;
  background-color: inherit;
  border: none;
  color: rgb(13, 221, 221);
}


.icon:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.soundcloud {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


.soundcloud > * {
  margin-bottom: 3rem;
}



/* trick pour resize la video youtube pour des écrans inférieurs à 600 px */

@media screen and (max-width: 1024px) {

  .youtube-video {
    position: relative;
    width: 80%;
    padding-bottom: 45%; 
    height: 0;
  }

  .youtube-video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sound-gallery {
    display: flex;
    flex-direction: column;
    
  }

.soundcloud iframe{
  position: relative;
  width: 80%;
  height: 100%;
}

.wrapper-youtube h2 {
  flex: 0 1 100%;
  padding-bottom: 80px;
  padding-top: 40px;
  text-align: center;
  font-size: 4rem;
  font-family: 'theboldfont';
  
}

}

/* fin du trick */

